
<!DOCTYPE html>

<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->

<!-- Mirrored from demo.codezeel.com/opencart/OPC07/OPC070164/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 20:14:24 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8"/><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carré Pub</title>
    <base/>
    <meta name="description"
          content="Stable Modern Furniture Store opencart Responsive Theme is designed for furniture, wood, timber, home decor, craft, table, chair, art, light, handicraft, antique, kitchen, appliance, accessories, fashion, jewelry, minimal and multi purpose stores. This Theme is looking good with colors combination. It is very nice with its clean and professional look."/>
    <meta name="keywords"
          content="furniture, wood, timber, home decor, craft, table, chair, art, light, handicraft, antique, kitchen, appliance, accessories, fashion, jewelry"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="image/catalog/ka3boura.png" rel="icon"/>
    <!-- Codezeel www.codezeel.com - Start -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body class="common-home layout-1">
<nav id="top">
    <div class="container">
        <div id="cznavcmsblock">
            <div class="welcome_text"><i class="fa fa-map-marker"></i> 17, Rue jilani marchand, Ezzahra, Tunisie</div>
        </div>
    </br>


    </div>
</nav>

<div class="header-container">
    <header>
        <div class="container">
            <div class="row">
                <div class="header-main">

                    <div class="header-logo">
                        <div id="logo">
                            <a href=""><img src="image/catalog/CP-LOGO2.png" title="CarrePub" alt="Stable - Modern Furniture Store" class="img-responsive"/></a></div>
                    </div>

                    <div class="head-right-bottom">
                        <nav class="nav-container" role="navigation">
                            <div class="container">
                                <div class="nav-inner">
                                    <!-- ======= Menu Code START ========= -->
                                    <!-- Opencart 3 level Category Menu-->
                                    <div id="menu" class="main-menu" style="display: block">
                                        <ul class="nav navbar-nav">
                                            <li class="top_level home"><a href="#">Accueil</a></li>
                                            <li class="top_level dropdown"><a
                                                        href="">Info</a>
                                            </li>
                                            <li class="top_level"><a
                                                        href="">Travaux</a>
                                            </li>
                                            <li class="top_level dropdown"><a
                                                        href="">Services</a>
                                            </li>
                                            <li class="top_level"><a
                                                        href="">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


{% block content %}
{% endblock %}
<footer>
    <div id="footer" class="container">

        <div class="row">
            <div class="footer-blocks">
                <div class="col-sm-3 column footerleft">
                    <div class="contact-block">
                        <h5>Store Information</h5>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Stable - Modern Furniture Store<br>17, Rue jilani marchand, Ezzahra<br> Tunisie</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>+216 53 977 753 – +216 98 342 281</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>direction@carrepub.com.tn</span>
                            </li>
                        </ul>
                    </div>
                    <div class="block-social">
                        <ul>
                            <li class="facebook"><a href="#"><span>Facebook</span></a></li>
                            <li class="twitter"><a href="#"><span>Twitter</span></a></li>
                            <li class="youtube"><a href="#"><span>YouTube</span></a></li>
                            <li class="googleplus"><a href="#"><span>Google +</span></a></li>
                            <li class="instagram"><a href="#"><span>Instagram</span></a></li>
                        </ul>
                    </div>

                </div>

                <div id="info" class="col-sm-3 column">
                    <h5>SERVICES</h5>
                    <ul class="list-unstyled">
                        <li><a href="index1766.html?route=information/information&amp;information_id=6">Enseigne lumineuse</a></li>
                        <li><a href="index1679.html?route=information/information&amp;information_id=3">Habillage de façade</a></li>
                        <li><a href="index99e4.html?route=information/information&amp;information_id=5">Totem Publicitaire</a></li>
                        <li><a href="index7cb2.html?route=information/sitemap">Enseigne drapeaux</a></li>
                        <li><a href="index7cb2.html?route=information/sitemap">Plaque de signalisation</a></li>
                        <li><a href="index7cb2.html?route=information/sitemap">Lettres boitiers</a></li>
                        <li><a href="index7cb2.html?route=information/sitemap">Lettres en PVC</a></li>
                    </ul>
                </div>



                <div class="col-sm-3 column">
                    <h5>OFFICE TIME</h5>
                    <ul class="list-unstyled">
                        <li><a href="indexe223.html?route=account/order">Lun-Ven:</a></li>
                        <li><a href="indexe223.html?route=account/wishlist">8.00am – 5.00pm</a></li>
                        <li><a href="indexe223.html?route=account/newsletter">Sam:</a></li>
                        <li><a href="index71ba.html?route=account/return/add">8.00am – 2.00pm</a></li>
                        <li><a href="index71ba.html?route=account/return/add">Dim – Fermé</a></li>
                    </ul>
                </div>



        <div class="col-sm-3 column footerright">
            <div id="cztestimonialcmsblock" class="block testimonial-block">
                <h4 class="block_title hidden-md-down">What's Client says</h4>
                <div class="testimonial_container">
                    <div class="testimonial-area-wrapper">
                        <div class="testimonial-area">
                            <div class="customNavigation"><a class="btn prev cztestimonial_prev"> &amp;nbps </a><a class="btn next cztestimonial_next"> &amp;nbps </a></div>
                            <ul id="testimonial-carousel" class="cz-carousel product_list">
                                <li class="item">
                                    <ul>
                                        <li class="item-innner">
                                            <div class="testimonial-item">
                                                <div class="product_inner_cms">
                                                    <div class="quote_img"></div>
                                                    <div class="title">
                                                        <div class="des">Many desktop publishing packag web page</div>
                                                        <div class="name"><a href="#">-mr.jems dons</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-inner">
                                            <div class="testimonial-item">
                                                <div class="product_inner_cms">
                                                    <div class="quote_img"></div>
                                                    <div class="title">
                                                        <div class="des">Lorem Ipsum passage, and going through</div>
                                                        <div class="name"><a href="#">-Jecob Joeckno</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="item">
                                    <ul>
                                        <li class="item-innner">
                                            <div class="testimonial-item">
                                                <div class="product_inner_cms">
                                                    <div class="quote_img"></div>
                                                    <div class="title">
                                                        <div class="des">Lorem Ipsum is simply dummy text passage</div>
                                                        <div class="name"><a href="#">-Mark Jofferson</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-inner">
                                            <div class="testimonial-item">
                                                <div class="product_inner_cms">
                                                    <div class="quote_img"></div>
                                                    <div class="title">
                                                        <div class="des">'Lorem ipsum' will uncover many web sites still</div>
                                                        <div class="name"><a href="#">-Luies Charls</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="item">
                                    <ul>
                                        <li class="item-innner">
                                            <div class="testimonial-item">
                                                <div class="product_inner_cms">
                                                    <div class="quote_img"></div>
                                                    <div class="title">
                                                        <div class="des">All the Lorem Ipsum generators on the simply</div>
                                                        <div class="name"><a href="#">-Mark Jekno</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-inner">
                                            <div class="testimonial-item">
                                                <div class="product_inner_cms">
                                                    <div class="quote_img"></div>
                                                    <div class="title">
                                                        <div class="des">Lorem Ipsum passage generators cites web</div>
                                                        <div class="name"><a href="#">-Jecob Goeckno</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
        </div>
    </div>
    <div id="bottom-footer" class="bottomfooter">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <script>
                        function subscribe()
                        {
                            var emailpattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                            var email = $('#txtemail').val();
                            if(email != "")
                            {
                                if(!emailpattern.test(email))
                                {
                                    $('.text-danger').remove();
                                    var str = '<span class="error">Invalid Email</span>';
                                    $('#txtemail').after('<div class="text-danger">Invalid Email</div>');

                                    return false;
                                }
                                else
                                {
                                    $.ajax({
                                        url: 'index.php?route=extension/module/newsletters/news',
                                        type: 'post',
                                        data: 'email=' + $('#txtemail').val(),
                                        dataType: 'json',


                                        success: function(json) {

                                            $('.text-danger').remove();
                                            $('#txtemail').after('<div class="text-danger">' + json.message + '</div>');

                                        }

                                    });
                                    return false;
                                }
                            }
                            else
                            {
                                $('.text-danger').remove();
                                $('#txtemail').after('<div class="text-danger">Email Is Require</div>');
                                $(email).focus();

                                return false;
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</footer>

{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('boostrap') }}
{{ encore_entry_script_tags('swiper') }}
{{ encore_entry_script_tags('common') }}
{{ encore_entry_script_tags('custom') }}
{{ encore_entry_script_tags('codezeel') }}
{{ encore_entry_script_tags('jquerycustom') }}
{{ encore_entry_script_tags('formalizecustom') }}
{{ encore_entry_script_tags('lightbox') }}
{{ encore_entry_script_tags('elevatezoom') }}
{{ encore_entry_script_tags('carousel') }}
{{ encore_entry_script_tags('bootstrapn') }}
{{ encore_entry_script_tags('owl') }}
{{ encore_entry_script_tags('jquerymagnific') }}
{{ encore_entry_script_tags('parallax') }}
{{ encore_entry_script_tags('tabs') }}
<script type="text/javascript">
    // Can also be used with $(document).ready()
    $(window).load(function() {
        $("#spinner").fadeOut("slow");
    });
</script>
<script>

    function quickbox(){
        if ($(window).width() > 767) {
            $('.quickview-button').magnificPopup({
                type:'iframe',
                delegate: 'a',
                preloader: true,
                tLoading: 'Loading image #%curr%...',
            });
        }
    }
    jQuery(document).ready(function() {quickbox();});
    jQuery(window).resize(function() {quickbox();});

</script>
<script type="text/javascript"><!--
    $('#slideshow0').swiper({
        mode: 'horizontal',
        slidesPerView: 1,
        pagination: '.slideshow0',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 0,
        autoplay: 5000,
        effect: 'cubes',
        autoplayDisableOnInteraction: true,
        loop: true
    });
    --></script>

<script>

    function quickbox() {
        if ($(window).width() > 767) {
            $('.quickview-button').magnificPopup({
                type: 'iframe',
                delegate: 'a',
                preloader: true,
                tLoading: 'Loading image #%curr%...',
            });
        }
    }

    jQuery(document).ready(function () {
        quickbox();
    });
    jQuery(window).resize(function () {
        quickbox();
    });

</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#testimonial-carousel').owlCarousel({
            items: 1,
            singleItem: true,
            navigation: false,
            pagination: true,
            autoPlay: true
        });
        // Custom Navigation Events
        $(".cztestimonial_next").click(function(){
            $('#testimonial-carousel').trigger('owl.next');
        })
        $(".cztestimonial_prev").click(function(){
            $('#testimonial-carousel').trigger('owl.prev');
        });
    });
</script>

<script type="text/javascript">

    /*======  curosol For Our Category list Block product Slider  ==== */

    var czourcategory = $("#ourcategory-carousel");
    czourcategory.owlCarousel({
        items : 6, //10 items above 1000px browser width
        itemsDesktop : [1199,5],
        itemsDesktopSmall : [991,4],
        itemsTablet : [650,3],
        itemsTabletSmall: [575,3],
        itemsMobile : [479,2] ,
        autoPlay: true
    });

    /* Custom Navigation Events*/
    $(".category_next").click(function(){
        czourcategory.trigger('owl.next');
    });

    $(".category_prev").click(function(){
        czourcategory.trigger('owl.prev');
    });


    $('.brand-carousel').owlCarousel({
        items: 6,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [991,3],
        itemsTablet: [480,2],
        itemsMobile : [320,1],
        singleItem: false,
        navigation: false,
        pagination: false,
        autoPlay: true
    });
    // Custom Navigation Events
    $(".brand-next").click(function(){
        $('.brand-carousel').trigger('owl.next');
    })
    $(".brand-prev").click(function(){
        $('.brand-carousel').trigger('owl.prev');
    });

    </script>




</body>
</html>